##### CVS
/CVS/*
**/CVS/*
.cvsignore
*/.cvsignore

#### MACOS
.DS_Store

# Workspace files are user-specific
*.sublime-workspace

# SFTP configuration file
sftp-config.json
sftp-config-alt*.json

##### Notepad++
# Notepad++ backups #
*.bak

##### VisualStudioCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

##### MySQL
mysql/
*.sql.gz

##### NextJS
next-env.d.ts
.next/
out/
node_modules/